body {
  margin-top: 2%;
  margin-right: 2%;
  background-color: #AFEEEE;
  background-image: url(https://storage.canalblog.com/76/18/522608/38138368.png);
  background-position: top left;
  background-repeat: no-repeat;
}
#nav {
    padding: 0; margin: 0;
    text-align: right;
}
#nav li {
  display: inline;
  list-style: none
}
#nav a {
    display:inline-block;
    margin: 5px 4px;
}
h1 {
  font-family: 'Cookie', cursive;
  font-size: 12vw;
  padding-left: ;
  text-align: right;
}
p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-bottom: 2%;
}
.paragraph {
  padding-top: 10%;
}
iframe {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
input {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
footer {
    align-items: center;
    width: 100vw;
    height: 8.6vh;
    background-color: #87CEFA;
    display: flex;
    justify-content: space-around;
    margin: 2%;
    margin-left: -2%;
    margin-bottom: -2%;
}

