body {
  margin: 0;
  padding: 0;
  background-color: #AFEEEE;
}
h1 {
  font-family: 'Cookie', cursive;
  font-size: 12vw;
  padding-left: 35%;
}
.texte {
	margin: 0px 5px 50px 5px;
}
.video {
	text-align: center;
	margin-bottom: 100px;
}
.register {
	text-align: center;
}
footer {
	margin-top: 100px;
}
.simplon {
	margin-left: 5px;
}
.nom {
	margin-right: 5px;
}
